<div class="container pt-3">
   <div class="row">
   <div class="col-auto mr-auto">
   <h1>質問一覧</h1>
   </div>
     <div class="col-lg-4 offset-lg-1">
       <!-- 検索フォーム -->
           <%= render 'question_search_form' %>
           <div class="float-right">
           <%= paginate @questions %>
           </div>
           </div>
         </div>
     </div>
     <% if @questions.present?  %>
           <%= render @questions %>
         <% else %>
           <p>質問がありません</p>
      <% end %>
   </div>
</div>
