<div class="container pt-3">
   <div class="row">
   <div class="col-auto mr-auto">
   <h1>質問一覧</h1>
   </div>
     <div class="col-lg-4 offset-lg-1">
       <!-- 検索フォーム -->
           <%= render 'search_form' %>
           </div>
         </div>
       </form>
     </div>
   </div>
</div>

<% if @questions.present?  %>
           <%= render @questions %>
         <% else %>
           <p>質問がありません</p>
         <% end %>