<div class="top-wrapper">
<div class="plate">
<p class="script"><span>American</span></p>
<p class="shadow text1">Football</p>
<p class="shadow text2"></p>
<p class="shadow text3">Query</p>
<p class="script"><span>Football</span></p>
</div>
     <div class ="main">
     
     <%= link_to "質問一覧", questions_path , class: "btn btn-border" %>
     <%= link_to "新規登録", new_user_path, class: "btn btn-border" %>
     </div>
     <div>
     <%= link_to "ログイン", login_path, class: "btn btn-border-shadow btn-border-shadow--color" %>
      </div>
 </div>


