<h1>使い方</h1>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP 1　ユーザーの登録をしよう</h2>
    <p class="card-text">まずトップ画面の新規登録ボタンを押すと登録ページに飛びます。</p>
    <p class="card-text">そしてユーザー登録画面に移動したらまず必須項目である【名前】、【メールアドレス】、【パスワード（３文字以上）】を入力しましょう！　自己紹介は任意で構いません。</p>
    <p class="card-text">その後登録ボタンを押せば登録完了です！！</p>
    <h3>※ちなみに質問一覧は登録しなくても閲覧可能です</h3>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP 2　アバターを変更しよう</h2>
    <p class="card-text">登録後はマイページに飛ぶので、登録情報の下にある編集ボタンを押すと登録情報の編集ができます。</p>
    <p class="card-text">そこでファイルを選択をタップし画像を選択後、更新するボタンを押せば更新完了です！</p>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP 3　質問してみよう</h2>
    <p class="card-text">プロフィール編集後は実際に質問を投稿して見ましょう。</p>
    <p class="card-text">まず画面右上の＜黄色の三本線＞をクリックすると、４つの項目が出るので「質問する」をクリック。</p>
    <p class="card-text">すると質問フォームへ飛ぶので必須項目である【タイトル】、【詳細】、を入力し【質問する】をクリックで質問完了です！</p>
    <p class="card-text">また質問には【画像（複数可）】、【動画】、【Youtube】を添付することが可能です。</p>
    <p class="card-text">最後に質問には【カテゴリー】を選択することが可能です。※カテゴリーを選択すると後で検索で見つけやすくなります。</p>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP 4　質問一覧ページの説明</h2>
    <p class="card-text">質問が完了すると一覧ページに先程の作成した質問が表示されます</p>
    <p class="card-text">まず投稿者のアバター、名前、質問のタイトル、詳細が表記されており画像の投稿があれば画像表示されます。</p>
    <p class="card-text">次に動画、Youtube等が添付されている場合はアイコンとして表示されます→動画は質問のタイトルをクリックすると詳細ページの飛び視聴することができます。</p>
    <p class="card-text">また自分が質問したものに関しては右下の【質問を編集できるペンのアイコン】、【質問を削除できるゴミ箱のアイコンがあります】</p>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>


<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP 5　質問に答えを投稿してみよう</h2>
    <p class="card-text">質問のタイトルをタップすると質問の詳細ページに飛びます。</p>
    <p class="card-text">自分の質問以外の場合は、質問対して【答えが投稿できるフォーム】が表示されているので答えを是非投稿してあげましょう。</p>
    <p class="card-text"></p>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>


<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP 6　ベストアンサーを登録しよう</h2>
    <p class="card-text">自分の質問に、答えが投稿された場合、各答えにベストアンサーボタンが表示されています。</p>
    <p class="card-text">自分の質問に対して、一番だと思う答えの【ベストアンサーにする】をクリックするとベストアンサーを決めることができます！</p>
    <p class="card-text">※一度ベストアンサーを決めると変更できないのでご注意ください</p>
    <p class="card-text">すると質問の右上にある未解決の文字が【解決】へと変化し質問は解決したこととなります。</p>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>



<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP 6　アンサーにお礼を言おう</h2>
    <p class="card-text">もらった答えに対して、答えにある【返信ボタン】で返信することが可能です。</p>
    <p class="card-text">その後コメント一覧で確認することが可能です。</p>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>



<div class="card">
  <div class="card-body">
    <h2 class="card-title">STEP ７　ベストアンサーをたくさんもらおう</h2>
    <p class="card-text">べすとあんさ</p>
    <p class="card-text">その後コメント一覧で確認することが可能です。</p>
  </div>
  <img class="card-img-bottom" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
</div>