<header>
<div class="contents">
<h1><%= link_to "Football Query", root_path%></h1>
</div>
<div class="cp_fullscreenmenu">
<input type="checkbox" id="toggle" />
<label class="hamburger" for="toggle">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</label>
<div class="menu">
  <ul>
    <li><%= link_to "マイページ", "#"%></raisli>
		<li><%= link_to "質問する", "#"%></li>
		<li><%= link_to "質問一覧", "#"%></li>
	</ul>
</div>
</div>
</header>