<div class="contents">
</div>
<footer>
<div class="copyright">
	<p>© 2021 - FootballQuery</p>
</div>
<div class="sns">
	<a href="#" class="contact">使い方</a>
	<a href="#" class="fb">Contact</a>
	<a href="#" class="insta">プライバシポリシー</a>
</div>
</footer>