<div class="FooterSection">
  <div class="Footer">
    <div class="Footer-Inner">
      <div class="Footer-Inner-List">
				<%= link_to "Home", root_path, class:"Footer-Inner-List-Item"%>
        <a href="" class="Footer-Inner-List-Item">Contact</a>
        <a href="" class="Footer-Inner-List-Item">プライバシポリシー</a>
        <a href="" class="Footer-Inner-List-Item">使い方</a>
      </div>
      <div class="Footer-Inner-CopyRight">
        ©2021 FootballQuery
      </div>
    </div>
  </div>
</div>



