<header>
<div class="contents">
	<h1>Football Query</h1>
</div>
<div class="cp_fullscreenmenu">
<input type="checkbox" id="toggle" />
<label class="hamburger" for="toggle">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</label>
<div class="menu">
	<ul>
    <li><%= link_to "マイページ", "#"%></li>
		<li><%= link_to "質問する", "#"%></li>
		<li><%= link_to "質問一覧", "#"%></li>
		<li><%= link_to "ログアウト", "#"%></li>
	</ul>
</div>
</div>
</header>