/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "top";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-image: url(aaa.jpg);
  background-color:rgba(229, 238, 229, 0.219);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
	margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}



h1{
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
	background-color: #f7f3e9;
	width:400px;
}

	

a.nav-link{
	color:#FFF;
}


header {
  width: 100%;
  height: 100px;
  align-items: center;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
#toggle {
	display: none;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
  z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	background-image: linear-gradient(to top, rgba(16, 17, 20, 0.7) 0%, rgba(26, 31, 32, 0.7) 100%);
}
.cp_fullscreenmenu .menu ul {
	position: absolute;
	top: 111px;
	left: 50%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	transition: all 0.3s ease-in-out;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.cp_fullscreenmenu .menu ul li {
	-webkit-transform: translateY(50px);
	        transform: translateY(50px);
	opacity: 0;
}
.cp_fullscreenmenu .menu ul li a {
	font-size: 2em;
	font-weight: bold;
	display: block;
	padding: 30px 0;
	transition: all 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.cp_fullscreenmenu .menu ul li a:hover {
	color: rgba(236,64,122 ,1);
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu #toggle:checked ~ .menu {
	visibility: visible;
	opacity: 1;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul {
	top: 70px;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li {
	-webkit-transform: translateY(0px);
	        transform: translateY(0px);
	opacity: 1;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(1) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(2) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(3) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(4) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar {
	background-color: rgba(255,255,255 ,1);
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(2) {
	-webkit-transform: translateX(50px);
	        transform: translateX(50px);
	opacity: 0;
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg);
	        transform: translateY(10px) rotate(45deg);
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	        transform: translateY(-18px) rotate(-50deg);
}

/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
	position: fixed;
	z-index: 10;
	top: 10px;
	right: 25px;
	display: block;
	cursor: pointer;
}
.cp_fullscreenmenu .hamburger .bar {
	width: 40px;
	height: 4px;
	margin: 10px auto;
	transition: all 0.3s ease-in-out;
	background-color: rgb(195, 247, 9);
}
.cp_fullscreenmenu .hamburger .bar:nth-child(2) {
	width: 30px;
}
.content{
  background-color:  rgba(240,98,146 ,1);
}





.card-title {
	position: relative;
	padding: .3em;
	border-bottom: 1px solid #7986CB;
}
.card-title::after {
	position: absolute;
	bottom: -3px;
	left: 0;
	z-index: 2;
	content: '';
	width: 15%;
	height: 5px;
	background-color: #303F9F;
}

div.card.card-nav-tabs{
margin-top:50px;
}


.FooterSection {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #2f2e2e;
	
}
.Footer-Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}
.Footer-Inner-Logo {
  margin-left: auto;
  margin-right: auto;
  width: 64px;
}
.Footer-Inner-List {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.Footer-Inner-List-Item {
  margin-right: 8px;
  padding-left: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item {
    margin-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
.Footer-Inner-List-Item:not(:first-child) {
  border-left: 1px solid #fff;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:not(:first-child) {
    border-left: none;
    margin-top: 20px;
  }
}
.Footer-Inner-CopyRight {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

h2.navbar-brand{
  color: #fafafa;
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 
}
main {
	flex: 1;
	margin-top:80px;
}


	.arrow {
    display:  inline-block;
    color: #fff;
    text-decoration:  none;
    background-color: #91c788;
    padding:  10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px #52734d;
}

.arrow::before {
    content:  '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent #ffffff;
    display:  inline-block;
    vertical-align:  middle;
    position:  relative;
    top: -2px;
    margin-right: 2px;
}

h3.question_name{
	color:#000;
	font-weight: bold;
	margin-top:10px;
}



.cp_ipselect {
	overflow: hidden;
	width: 50%;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl03 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #fafafa;
	background: #dedbe2;
}
.cp_ipselect.cp_sl03::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000;
	pointer-events: none;
}
.cp_ipselect.cp_sl03 select {
	color: #000;
}

div.answer.title {
	padding: 1rem 2rem;
  border: 3px dotted #000;
}


input.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: rgb(236, 240, 11);
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

input.btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

i.fab.fa-youtube{
	color:#e4562a;
}

i.fas.fa-file-video {
	color:#2268a1;
}


i.fas.fa-medal{
  color:#df4212;
}

i.fas.fa-circle{
	color:#38be33;
}


label.answer\.title{
	font-size: 30px;
}