/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "top";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-image: url(ball2.jpg);
  background-color:rgba(0, 0, 0, 20);
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1.navbar-brand{
	font-size: 40px;
}

a.nav-link{
	color:#FFF;
}


header {
  width: 100%;
  height: 100px;
  align-items: center;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}
#toggle {
	display: none;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
  z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	background-image: linear-gradient(to top, rgba(16, 17, 20, 0.7) 0%, rgba(26, 31, 32, 0.7) 100%);
}
.cp_fullscreenmenu .menu ul {
	position: absolute;
	top: 111px;
	left: 50%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	transition: all 0.3s ease-in-out;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.cp_fullscreenmenu .menu ul li {
	-webkit-transform: translateY(50px);
	        transform: translateY(50px);
	opacity: 0;
}
.cp_fullscreenmenu .menu ul li a {
	font-size: 2em;
	font-weight: bold;
	display: block;
	padding: 10px 0;
	transition: all 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.cp_fullscreenmenu .menu ul li a:hover {
	color: rgba(236,64,122 ,1);
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu #toggle:checked ~ .menu {
	visibility: visible;
	opacity: 1;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul {
	top: 70px;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li {
	-webkit-transform: translateY(0px);
	        transform: translateY(0px);
	opacity: 1;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(1) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(2) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(3) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
.cp_fullscreenmenu #toggle:checked ~ .menu ul li:nth-child(4) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar {
	background-color: rgba(255,255,255 ,1);
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(2) {
	-webkit-transform: translateX(50px);
	        transform: translateX(50px);
	opacity: 0;
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg);
	        transform: translateY(10px) rotate(45deg);
}
.cp_fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	        transform: translateY(-8px) rotate(-45deg);
}

/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
	position: fixed;
	z-index: 10;
	top: 10px;
	right: 10px;
	display: block;
	cursor: pointer;
}
.cp_fullscreenmenu .hamburger .bar {
	width: 30px;
	height: 2px;
	margin: 7px auto;
	transition: all 0.3s ease-in-out;
	background-color: rgba(240,98,146 ,1);
}
.cp_fullscreenmenu .hamburger .bar:nth-child(2) {
	width: 20px;
}
.content{
  background-color:  rgba(240,98,146 ,1);
}




*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	min-height: 100%;
	position: relative;
}
body {
	margin-bottom: 5em;
}
footer {
	bottom: 0;
	width: 100%;
	height: 70px;
	position: absolute;
	background-color: #9E9E9E;
}
footer .copyright {
	float: left;
	width: 50%;
}
footer .copyright p {
	line-height: 70px;
	padding-left: 10%;
	letter-spacing: 1px;
	color: #ffffff;
}
footer .sns {
	float: right;
	width: 50%;
}
footer .sns a {
	font-weight: bold;
	line-height: 70px;
	float: left;
	-webkit-transition: all, 0.3s;
	        transition: all, 0.3s;
	text-align: center;
	text-decoration: none;
	color: white;
}
footer .sns a:hover {
	-webkit-transition: all, 0.3s;
	        transition: all, 0.3s;
	background-color: #222222;
}
footer .sns .insta {
	font-size: 1.2em;
	width: 50%;

}
footer .sns .fb {
	font-size: 1.2em;
	width: 25%;
	
}

footer .sns .contact {
	font-size:1.2em;
	width: 25%;

}
@media (max-width: 480px) {
	.contents {
		margin-bottom: 200px;
	}
	footer {
		height: auto;
	}
	footer .copyright {
		width: 100%;
	}
	footer .copyright p {
		padding: 0;
		text-align: center;
	}
	footer .sns {
		width: 100%;
	}
}